@font-face {
	font-family: 'Times New Roman';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/tnr/tnr.eot');
	src: url('../fonts/tnr/tnr.eot?#iefix') format('embedded-opentype'),
			url('../fonts/tnr/tnr.otf') format('otf'),
			url('../fonts/tnr/tnr.svg#TimesNewRoman') format('svg'),
			url('../fonts/tnr/tnr.ttf') format('truetype'),
			url('../fonts/tnr/tnr.woff') format('woff'),
			url('../fonts/tnr/tnr.woff2') format('woff2');
}

@font-face {
	font-family: 'Arial';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/arial/arial.eot');
	src: url('../fonts/arial/arial.eot?#iefix') format('embedded-opentype'),
			url('../fonts/arial/arial.otf') format('otf'),
			url('../fonts/arial/arial.svg#Arial') format('svg'),
			url('../fonts/arial/arial.ttf') format('truetype'),
			url('../fonts/arial/arial.woff') format('woff'),
			url('../fonts/arial/arial.woff2') format('woff2');
}

@font-face {
	font-family: 'Arial Bold';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/arial/arial-bold.eot');
	src: url('../fonts/arial/arial-bold.eot?#iefix') format('embedded-opentype'),
			url('../fonts/arial/arial-bold.otf') format('otf'),
			url('../fonts/arial/arial-bold.svg#ArialBold') format('svg'),
			url('../fonts/arial/arial-bold.ttf') format('truetype'),
			url('../fonts/arial/arial-bold.woff') format('woff'),
			url('../fonts/arial/arial-bold.woff2') format('woff2');
}

html, body {
  height: 100%; 
  margin: 0;
  padding: 0;
  font-family: 'Object Sans';
}

li, ul, p {
  margin: 0;
  padding: 0;
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

button {
  border: none;
  background: transparent;
  cursor: pointer; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

input, textarea {
  outline: none; }

* { 
	box-sizing:	border-box;
	outline: none !important;
	scrollbar-width: thin;
}

a:not(:hover) {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

input[type="text"], select {
	padding: 6px 0 6px 10px;
	border: 1px solid #cccccc;
	-webkit-box-shadow: none;
	box-shadow: none;
	outline: none;
}

input[type="text"]:focus, select:focus {
	padding: 6px 0 6px 10px;
	border: 1px solid #cccccc;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Times New Roman';
	font-weight: normal;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 24px;
}

input {
	outline: none;
	font-family: 'Arial';
}

select {
	font-family: 'Arial';
}
select:invalid {
	color: gray !important;
}
option option[data-default] {
	color: gray !important;

}
option[value=""][disabled] {
	display: none;
}
option {
	color: black;
}

i, button, input, .no-select {
	-webkit-touch-callout:	none;
	-webkit-user-select:	none;
	-khtml-user-select:	none;
	-moz-user-select:	none;
	-ms-user-select:	none;
	user-select:	none;
}

button, input[type="button"]  {
	font-family: 'Arial';
}

html {
	font-family: 'Arial', 'Times New Roman';
	font-size: 14px;
}

body {
	background: url("bg.png") repeat;
	min-height:	100vh;
	background-color: #ffffff;
}

.text-bold {
	font-weight: bold;
}

input[type="text"], select {
	padding: 6px 0 6px 10px;
}

.hover-lighten:hover {
	filter: brightness(120%);
}

.hover-darken:hover {
	filter: brightness(80%);
}

.text-light-hint {
	color: #999999;
}

::-webkit-scrollbar {
	width:	10px;
	height: 8px;
	scrollbar-color:	#333333 #e5e2dd;
}

::-webkit-scrollbar-track {
	background:	#e5e2dd;
}

::-webkit-scrollbar-thumb {
	background-color:	#333333;
	border:	0px solid #e5e2dd;
	border-radius: 3px;
}



input[type="text"], 
input[type="password"], 
input[type="email"], 
select, 
option {
	font-family: 'Arial';
	font-size: 14;
}

::placeholder, :-ms-input-placeholder, ::-ms-input-placeholder  { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #666666;
	font-family: 'Arial';
	font-size: 14px;
  opacity: 1;
}


.firefox-scrollbar {
  scrollbar-color: #333333 #e5e2dd;
	scrollbar-width: thin;
}

.w-100 {
	width:	100%;
}

.wrapper {
	display:	flex;
	justify-content:	center;
	background: #fff8ed url('../media/bg.png') repeat;
}

.content {
	max-width:	1440px;
	min-width:	1024px;
	background-color: #ffffff;
	position: relative;
}

/* Arrow */

.arrow-icon-left{
	transform: rotate(180deg);
}

.arrow-white{
	margin-top: 20px;
	max-width: 20px;
	fill: white;
}

.arrow-grey{
	max-width: 20px;
	fill: #807c75;
}

.button-arrow{
	font-size: 18px;
	color: white; 
	margin-left: 40px;
}

/* Scroll UP */

.scrollup{
	position: fixed;
	bottom: 45px; 
	right: 0px;
	width: 100%; 
	z-index: 1000; 
	pointer-events: none; 
	display: flex; 
	justify-content: center;
}

.scrollup__wrapper{
	min-width: 1024px;
	max-width: 1170px; 
	display: flex; 
	justify-content: flex-end;
}

.scrollup__button {
	visibility: visible;
	opacity: 1; 
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	-o-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.scrollup__button.no-display {
	visibility: hidden; 
	opacity: 0;
}

.scroll__arrow{
	width: 30px;
	z-index: 1000;
	transform: rotate(-90deg);
	fill: white;
}

/* NAVBAR */

.navbar-background {
	position: fixed;
	background-color:	rgb(159, 43, 37);
	left:	0;
	right:	0;
	width:	100%;
	height:	70px;
	opacity: 0.8;
	z-index:	0;
	background-color: rgb(159, 43, 37); 
}

.navbar {
	position: fixed;
	font-family: 'Times New Roman';
	text-transform:	uppercase;
	background-color:	rgb(159, 43, 37);
	width: 100%;
	min-width:	1024px;
	max-width:	1440px;
	height:	70px;
	display:	flex;
	padding-left:	30px;
	padding-right:	30px;
	z-index:	1;
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.navbar__img{
	width: 100%;
}

.navbar__items{
	color:	white;
	margin-left:	30px;
	margin-right:	30px;
	display:	flex;
	align-items:	center;
	font-size: 14px;
	font-family: 'Times New Roman';
	font-weight: bold;
	height: 100%;
}

.navbar__link:not(:last-child) {
	margin-right: 40px;
}

.navbar__link{
	cursor:	pointer;
	background-color: rgb(159, 43, 37);
	border: none;
	color: white;
	font-size: 14px;
	font-weight: bold;
}

.navbar__items_right {
	display:	flex;
	margin-left:	auto;
	align-items:	center; 
}

.navbar__currency {
	text-decoration:	underline;
	color:	white;
	margin-right:	50px;
	font-family: 'Times New Roman';
	font-weight: bold;
	font-size: 14px;
}

.navbar__btn{
	border:	none;
	background-color:	rgb(244, 217, 172);
	cursor:	pointer;
	height: 31px; 
	width: 81px; 
	color: #454545;
}

.navbar__select{
	position: relative;
	font-family: 'Times New Roman';
	background-color: transparent;
	color: white;
	border: 0;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	outline: none;
}

.navbar__select:focus{
	border: 0;
}

/* HERO */

.hero {
	position:	relative;
	margin-top: 56px;
}

.hero__image {
	width:	100%;
	height:	auto;
}

.hero__overlay {
	position:	absolute;
	bottom:	0;
	display:	flex;
	height:	100%;
	display:	flex;
	justify-content:	space-between;
	width:	100%;
}

.hero__content{
	display: flex;
}

.hero__icon {
	display:	flex; 
	height:	100%; 
	align-items:	center;
	margin-left:	calc(10px * 4.5);
	margin-right:	calc(10px * 4.5);
}

.hero__arrow {
	color:	#827959;
	cursor:	pointer;
	font-size: 60px;
}

/* .hero__btn {
	margin-top:	auto; 
	margin-bottom:	60px;
	background-color:	#ecaf4b;
	border:	none;
	color:	white;
	padding-left:	40px !important;
	padding-right:	40px !important;
	cursor:	pointer;
	width: 192px;
	height: 46px;
} */


/* CATALOG */

.catalog {
	margin-top:	10px;
	background-color:	rgb(244, 217, 172);
	padding:	30px 80px;
}

.catalog__label {
	display:	flex;
	justify-content:	space-between;
	align-items:	center;
	margin-bottom:	30px;
}

.catalog__filters {
	display:	flex;
	align-items:	center;
	cursor:	pointer;
}

.catalog__filters:hover {
	filter: brightness(80%);
}

.filters__close{
	margin-right:	20px;
	display: flex;
	align-items: center;
}

.filters__close_icon{
	width: 15px;
	height: 15px;
}

.catalog__title {
	margin-top:	0;
	margin-bottom:	0;
}

.form__search{
	width: 100%; 
	margin-bottom: 10px;
	height: 44px;
	border: 1px solid #cccccc;
}

.form__options{
	display: flex;
	height: 46px;
	width: 100%;	
}

.form__country{
	margin-right: 50px;
	width: 20%;	
}

.form__collection{
	margin-right: 50px;
	width: 20%;	
}

.form__year{
	width: 10%;
}

.form__year_to{
	width: 10%;
	margin-right: 50px;	
}

.form__weight{
	width: 10%;
}

.form__weight_to{
	width: 10%;
	margin-right: 50px;	
}

.form__btn{
	color: white; 
	width: 20%;	
	background-color: rgb(191, 141, 56); 
	border: none; 
	cursor: pointer;
}

@media (max-width:1024px) {
	.catalog {
		padding:	30px 40px;
	}
}

/* COINS */
.coins {
	padding:	50px 80px 35px 80px;
	background-color:	white;
}

.coins__label {
	margin-bottom:	40px;
	display:	flex;
	position:	relative;
}

.coins__title_line {
	height:	100%;
	width:	8px;
	position:	absolute;
	left:	0;
	background-color:	rgb(159, 43, 37);
}

.coins__title {
	margin:	0;
	margin-left: 30px;
}

.coins__list{
	font-family:	'Arial Bold';
	overflow-x:	scroll;
	display:	flex;
	padding-bottom:	20px;
}

.styled-scrollbar::-webkit-scrollbar {
	width:	11px;
	height:	4px;
	scrollbar-width:	thin;
	scrollbar-color:	#333333 #e5e2dd;
}
.styled-scrollbar::-webkit-scrollbar-track {
	background:	#e5e2dd;
}
.styled-scrollbar::-webkit-scrollbar-thumb {
	background-color:	#333333;
	border-radius:	4px;
	border:	0px solid #e5e2dd;
}

.coins__item {
	width:	25%;
	min-width:	25%;
	max-width:	25%;
	padding-right:	20px;
} 

.coins__img {
	width:	100%;
	height:	auto;
}

.coins__text {
	width:	100%;
	height:	auto;
	margin-top:	10px;
	font-family: 'Arial Bold';
	margin-bottom:	0;
}

.coins__subtext  {
	font-size:	12px;
	color:	#737373;
}


@media(max-width: 1024px) {
	.coins {
		padding:	40px 50px 35px 40px;
		background-color:	white;
	}
	.coins__item {
		width:	33.33%;
		min-width:	33.33%;
		max-width:	33.33%;
	}
}

/* AUCTION */

.auction {
	background-color: #ffeed2;;
	padding: 64px 80px 50px 80px;
}

.auction__label{
	display: flex; 
	justify-content: space-between;
	position: relative;
	margin-bottom: 47px;
}

.auction__title_line{
	background-color: #c39340;
	height: 100%;
	width: 8px;
	position: absolute;
	left: 0;
}

.auction__title{
	margin-left: 30px;
}

.auction__showall{
	display: flex; 
	align-items: center; 
	cursor: pointer;
}

.auction__showall_text{
	margin-right: 10px;
}

.auction__showall_arrow{
	width: 13px;
}

.auction__item{
	background-color:	white;
	padding:	20px;
	display: flex;
}

.auction__item:not(:last-child) {
	border-bottom:	2px solid #ecaf4b;
}

.auction__left {
	 width:	120px;
	 display:	flex;
	 flex-direction:	column;
	 align-items:	center;
	 margin-right:	20px;
	 min-width: 120px;
}

.auction__date{
	color:	#c39340;
}

.auction__icons {
	display:	flex;
	width:	100%;
	margin-top:	20px;
	align-items: center;
	justify-content: space-around;
}

.auction__close{
	width:	14px;
	cursor: pointer;
}

.auction__view{
	width:	20px;
	cursor: pointer;
}

.auction__star{
	width: 15px;
	cursor: pointer;
}

.auction__right {
	margin-right:	60px;
	font-size: 16px;
	display: flex;
	flex-direction: column;
	width: 90%;
}

.auction__content{
	display: flex;
}

.auction__img{
	margin-right: 15px;
	width: 160px;
	height: 60px;
}

.auction__text{
	margin-top:	0;
	width: 70%;
}

.auction__name {
	font-family: 'Times New Roman';
	font-size: 18;
	font-weight: bold;
}

.auction__place {
	font-family: 'Times New Roman';
	color:	#c39340;
	font-weight: bold;
}

.auction__desc {
	font-family: 'Arial';
	font-weight: normal;
}

.auction__location {
	font-family: 'Times New Roman';
	font-weight: bold;
	color: #666666;
}

.auction__links_view{
	margin-right: 10px;
}

.auction__link{
	color: gray;
}

.auction__links_all{
	color: black;
}

.auction__tags{
	margin-top: 13px;
}

.auction__tags_text{
	color: gray;
}

.auction__new {
	width:	40px;
	background-color:	rgb(159, 43, 37);
	align-items:	center;
	justify-content:	center;
	display:	flex;
	margin: -20px -20px -20px 0px;
}

.auction__new_text{
	transform:	rotate(90deg);
	color:	white;
}

@media(max-width: 1024px) {
	.auction{
		padding: 64px 40px 50px 40px;
	}
}

/* NEWS */

.news {
	padding:	45px 80px 50px 80px;
	background-color:	white;
}

.news__label{
	display: flex; 
	justify-content: space-between; 
	align-items: center;
	position: relative;
	margin-bottom: 45px;
}

.news__title_line{
	height: 100%;
	width: 8px;
	position: absolute;
	left: 0;
	background-color: rgb(159, 43, 37);
}

.news__title{
	margin-left: 30px;
}

.news__archive {
	display: flex;
}

.archive__icon {
	height: 35px;
	width: 35px;
	background-color: #f4d9ab;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 10px;
}

.archive__input {
	height: 35px;
	width: 132px;
}

.archive__arrow{
	max-width: 40%;
}

.news__content {
	display:	flex;
	height:	570px;
	position:relative
}

.news__col {
	width:	50%;
	height: 100%;
}


.news__block{
	height: 100%;
}

.news__block_label{
	padding:	20px 0 0 20px;
	background-color:	#ecaf4b;
	height:	25%;
	cursor: pointer;
}

.news__block_arrow{
	width: 15px;
	margin-top: 15px;
}

.news__block_img{
	width:	100%;
	height:	75%;
}

.news__block_icon{
	min-width:	100%;
	min-height:	100%;
}

.news__block-right{
	display: flex;
	height: 50%;
}

.news__block_label-right{
	width: 40%;
	height: 100%;
	background: #f4d9ab;
}

.news__block_label-right-second{
	background: #ffeed2;
}

.news__block_img-right{
	width: 60%;
}

.news__btn{
	padding: 20px 30px;
	background-color: #ecaf4b;
	color: white;
	display: flex;
	align-items: center;
	margin: 0 auto;
	margin-top: 30px;
}

.news__btn_arrow{
	width: 15px;
	margin-left: 37px;
}


@media(max-width: 1024px) {
	.news {
		padding:	45px 40px 50px 40px;
	}
}


/* RATE */

.rate {
	padding:	30px 80px;
	background-color:	#fff8ed;
}

.rate__title{
	margin-bottom:	30px;
	color: #333333;
	font-size: 24px;
	font-weight: bold;
}

.rate__content{
	display: flex; 
	font-family: 'Arial Bold';
}

.rate__table {
	width:	65%;
	margin-right:	20px;	
	border: 1px solid #e5e2dc;
	margin-right: 20px;
	font-family: 'Arial Bold';
}

.table__row {
	display:	flex;
	background-color: white;
	position: relative;
}

.table__row:not(:first-child) {
	display:	flex;
}

.table__column {
	width:	25%;
	padding:	13px 27px;
	display: flex;
	align-items: flex-end;
	white-space: nowrap;
}

.table__row:nth-child(2n+1){
	background-color: #ffeed2;
}

.table__row:not(:first-child) .table__column:not(:first-child) {
	color: #666666;
}

.table__row-header {
	background-color:	#ffeed2;
	font-size: 16;
	font-weight: bold;
	border-bottom: 1px solid #e5e2dc;
	color: #bf8d38;
}

.table__icon{
	width: 18px;
	margin-right: 5px;
}

.rate__metalls {
	width: calc(35% - 20px);
	display: flex;
	flex-direction: column;
}

.metalls__row{
	background-color: white;
	flex: 1;
	border: 1px solid #e5e2dc;
	padding: 0 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 16px;
	color: #666666;
}

.metalls__row-active{
	background-color: #ffeed2;
	color: #bf8d38;
}

.metalls__row:last-child{
	margin: 0;
}

.metalls__col{
	display: flex;
	align-items: center;
}

.metalls__icon{
	width: 20px;
	height: 20px;
	margin-right: 10px;
	margin-bottom: 4px;
}

.metalls__title{
	font-size: 18px;
	font-weight: bold;
}

.metals__data{
	font-size: 18px;
	font-weight: bold;
	margin-right: 20px;
}

.metals__data:last-child{
	margin: 0;
}


@media(max-width: 1024px) {
	.rate {
		padding:	30px 40px;
	}
}

/* ABOUT */

.about {
	background-color:	white;
	padding:	50px 80px;
	font-size: 16px;
}

.about__label{
	position: relative;
	margin-bottom: 50px;
}

.about__titlte_line{
	height: 100%;
	width: 8px;
	position: absolute;
	left: 0;
	background-color: rgb(159, 43, 37);
}

.about__title{
	font-size: 48px;
	margin-left: 30px;
}

.about__description {
	margin-bottom: 40px;
	color: #333333;
}

.about__subtitle {
	font-weight:	bold;
	margin-bottom:	40px;
	color: #333333;
}

.about__list {
	margin-left:	50px;
	display:	flex;
	color: #333333;
}

.about__column:not(:last-child) {
	margin-right:	50px;
	color: #333333;
}

.about__row {
	display:	flex;
	margin-bottom: 10px;
}

.about__arrow {
	margin-right:	10px;
	color:	rgb(159, 43, 37);
}


@media(max-width: 1024px) {
	.about {
		padding:	50px 40px;
	}
}

/* Subscription */

.subscription {
	padding:	30px 80px 20px 80px;
	display:	flex;
	justify-content: space-between;
	background-color:	rgb(244, 217, 172);
}

.subscription__left {
	display:	flex;
	width: 50%;
}

.subscription__img {
	font-size:	173px;
	margin-top: -60px;
	color:	rgb(191, 141, 56);
	margin-right:	40px;
}

.subscription__description {
	color: #333333;
}

.subscription__title {
	margin-top:	0;
	margin-bottom:	40px;
	font-weight: bold;
}

.subscription__subtitle{
	font-size: 18px; 
	color: #333333;
}

.subscription__form{
	width: 40%;
}

.subscription__input {
	height: 46px;
	width: 100%;
}

.subscription__btn {
	width: 155px;
	height: 46px;
	background-color:	rgb(191, 141, 56);
	border:	none;
	cursor:	pointer;
	color:	white;
	padding:	10px 20px;
}

.subscription__input:first-child {
	margin-bottom:	10px;
	outline:	none;
}

.subscription__action {
	display:	flex;
	align-items:	center;
	justify-content:	space-between;
	margin-top:	20px;
	font-family:	 'Arial';
}

.subscription__checkbox {
	display: flex;
	align-items: center;
}

.subscription__checkbox_input{
	display: none;
	margin-right:10px;
}

.subscription__checkbox-icon{
	width: 17px;
	height: 17px;
	border: 2px solid rgb(191, 141, 56);
	margin-right:10px;
	position: relative;
	cursor: pointer;
}

.subscription__checkbox-icon::after{
	content: '';
	background: url(../media/check.svg) center center/cover no-repeat;
	position: absolute;
	height: 0;
	width: 0;
}

.subscription__checkbox_input:checked+.subscription__checkbox-icon::after{
	height: 14px;
	width: 14px;
}

@media(max-width: 1024px) {
	.subscription {
		padding:	30px 40px 20px 40px;
	}
}

/* PARTNER */

.partners {
	padding:	50px 80px 10px 80px;
	background-color:	white;
}

.partners__label{
	display: flex; 
	justify-content: space-between; 
	align-items: center;
	margin-bottom: 65px;
}

.partners__title{
	font-weight: bold; 
	margin-top: 0;
	font-size: 30px;
}

.partners__show{
	display: flex; 
	align-items: center; 
	cursor: pointer;
}

.patners__arrow{
	width: 13px;
	margin-left: 10px;
}

.partners__row {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

.partners__item{
	width: 140px;
}

.partners__img{
	width: 100%;
	height: auto;
}

@media(max-width: 1024px) {
	.partners {
		padding:	50px 40px 10px 40px;
	}
	.partners__item:last-child {
		display: none;
	}
}


/* Footer */

.footer {
	padding: 	30px 80px;
	background-color:	#fff8ed;
	border-top: 1px solid #bf8d38;
	display:	flex;
	justify-content: space-between;
}

.footer__col{
	display: flex;
}

.footer__logo{
	color: #333333;
	font-size: 50px;
	line-height: 40px;
	display: flex;
	align-items: center;
	margin-right: 100px;
}

.footer__nav {
	display:	flex;
	flex-direction:	column;
	justify-content:	space-between;
}

.footer__links {
	margin-bottom: 15px;
	margin-right: 40px;
}

.footer__link {
	font-size: 12px;
	display:	inline-block;
	color:	black;
	cursor: pointer;
	font-family: 'Arial Bold';
	margin-right: 40px;
}

.footer__link:last-child {
	margin-right: 0;
}

.footer__copyright {
	font-size: 12px;
	color: #666666;
}

.footer__socials {
	display:	flex;
	align-items:	center;
}

.footer__socials_link{
	margin-right: 27px;
}

.footer__socials_link:last-child{
	margin-right: 0;
}

@media(max-width: 1024px) {
	.footer {
		padding:	30px 40px;
	}
}


/* CUSTOM SELECT LANGUAGE*/

.custom-select {
  position: relative;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: transparent;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: -5px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  padding: 8px 16px;
  border: 1px solid transparent;
  cursor: pointer;
}

.select-items div{
	color: black;
	border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: white;
  top: 52px;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: #ffeed2;
}


/* CUSTOM SELECT CATALOG*/

.custom-select-catalog {
  position: relative;
  font-family: Arial;
	font-size: 14px;
	color: gray ;
	border: 1px solid #cccccc;
}

.custom-select-catalog select {
  display: none; /*hide original SELECT element: */
}

.select-selected-catalog {
  background-color: white;
}

/* Style the arrow inside the select element: */
.select-selected-catalog:after {
  position: absolute;
  content: "";
  top: 20px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: grey transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected-catalog.select-arrow-active-catalog:after {
  border-color: transparent transparent #cccccc transparent;
  top: 14px;
}

/* style the items (options), including the selected item: */
.select-items-catalog div,.select-selected-catalog {
  color: grey;
	display: flex;
	align-items: center;
	height: 46px;
  padding: 8px 16px;
  border: 1px solid #cccccc;
  border-color: transparent #cccccc #cccccc #cccccc;
  cursor: pointer;
}

/* Style items (options): */
.select-items-catalog {
  position: absolute;
  background-color: white;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide-catalog {
  display: none;
}

.select-items-catalog div:hover, .same-as-selected-catalog {
  background-color: #ffeed2;
}

.custom__country{
	width: 20%;
	margin-right: 50px;
	border: 1px solid #cccccc;
}

.custom__collection {
	width: 20%;
	margin-right: 50px;
	border: 1px solid #cccccc;
}

.custom__year{
	width: 10%;
	border-right: 0px;
}

.custom__year_to{
	width: 10%;
	border-left: 0px;
	margin-right: 50px;
}

.custom__weight{
	width: 10%;
	border-right: 0px;
}

.custom__weight_to{
	width: 10%;
	border-left: 0px;
	margin-right: 50px;
}